production/*
BlackHorse-Spring-01-IOC/lib/*.jar
out/artifacts/*
lib/*
*/lib/*
**/lib/*
**/classes/**
.idea/libraries/Maven__com_sun_istack_istack_commons_tools_3_0_8.xml
.idea/**
*/target/*
*.iml
*/.idea/*
**/target/**
